Soapui/_1.wadl

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns="http://wadl.dev.java.net/2009/02">
  <doc xml:lang="en" title="https://api.github.com"/>
  <resources base="http://api.github.com">
    <resource path="orgs/QA-TESTING-2024/teams" id="">
      <doc xml:lang="en" title=""/>
      <method name="GET" id="MetodoGet">
        <doc xml:lang="en" title="MetodoGet"/>
        <request/>
        <response status="401 404">
          <representation mediaType="application/json; charset=utf-8"/>
        </response>
        <response status="200">
          <representation mediaType="application/json; charset=utf-8"/>
        </response>
        <response status="0">
          <representation mediaType=""/>
        </response>
      </method>
    </resource>
    <resource path="orgs/QA-TESTING-2024/teams" id="repos">
      <doc xml:lang="en" title="repos"/>
      <method name="POST" id="MetodoPost">
        <doc xml:lang="en" title="MetodoPost"/>
        <request>
          <representation mediaType="application/json"/>
        </request>
        <response status="">
          <representation mediaType="application/json"/>
        </response>
        <response status="401 422">
          <representation mediaType="application/json; charset=utf-8"/>
        </response>
        <response status="201">
          <representation mediaType="application/json; charset=utf-8"/>
        </response>
      </method>
    </resource>
    <resource path="orgs/QA-TESTING-2024/teams/Development" id="TestPostmanRepositorio30">
      <doc xml:lang="en" title="TestPostmanRepositorio30"/>
      <method name="PATCH" id="MetodoPatch">
        <doc xml:lang="en" title="MetodoPatch"/>
        <request>
          <representation mediaType="application/json"/>
          <representation mediaType="application/xml"/>
          <representation mediaType="text/xml"/>
          <representation mediaType="multipart/form-data"/>
          <representation mediaType="multipart/mixed"/>
        </request>
        <response status="">
          <representation mediaType="application/json"/>
          <representation mediaType="application/xml"/>
          <representation mediaType="text/xml"/>
          <representation mediaType="multipart/form-data"/>
          <representation mediaType="multipart/mixed"/>
        </response>
        <response status="200">
          <representation mediaType="application/json; charset=utf-8"/>
        </response>
        <response status="404">
          <representation mediaType="application/json; charset=utf-8"/>
        </response>
      </method>
    </resource>
    <resource path="orgs/QA-TESTING-2024/teams/SoftwareTeam" id="TestPostmanRepositorio">
      <doc xml:lang="en" title="TestPostmanRepositorio"/>
      <method name="DELETE" id="Method 1">
        <doc xml:lang="en" title="Method 1"/>
        <request>
          <representation mediaType="application/json"/>
        </request>
        <response status="200">
          <representation mediaType="application/json; charset=utf-8"/>
        </response>
        <response status="">
          <representation mediaType="application/json"/>
        </response>
        <response status="204">
          <representation mediaType=""/>
          <representation mediaType=""/>
          <representation mediaType=""/>
          <representation mediaType=""/>
          <representation mediaType=""/>
          <representation mediaType=""/>
        </response>
        <response status="401 404">
          <representation mediaType="application/json; charset=utf-8"/>
        </response>
      </method>
    </resource>
  </resources>
</application>